@media (max-width: 600px) {
    .max-width-container {
        padding: 0 15px;
    }

    .home-navbar{
        position: relative;
    }
    .home-navbar1 {
        display: none;
    }
    .home-header {
        padding-top: 30px;
    }
    .home-container {
        padding-top: 0;
    }

    .section-heading-section-heading {
        margin-top: 1.5em;
    }
    

    .home-cards-container {
        gap: 23px;
        justify-content: space-around;
    }
    .category-card-category-card {
        flex: 1 1 40%;
    }
    .category-card-category-card img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
    }
    .home-left4 .button {
        margin-bottom: 1.7em;
    }

    .section-container {
        flex-direction: column;
    }
    .home-content {
        margin-top: 30px;
    }
    .home-text30 {
        width: 92%;
    }
    .home-image6 {
        width: 100%;
    }
    .home-main {
        padding-bottom: 3em;
    }


    .blog-post-card-blog-post-card {
        max-width: 100%;
        height: auto;
    }

    .home-footer1 {
        flex-direction: column-reverse;
        padding: 3em 0 0 0.8em;
        margin-bottom: 1em;
    }
    .home-links-container {
        flex-direction: column;
        margin-bottom: 2em;
    }

}