* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #eee;
}

.container {
    background: #000;
    color: #fff;
    padding: 2em;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}