html {
    font: 16px/1.5 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body, input, textarea {
    font: inherit
}

p, ul, ol {
    padding-bottom: 1.5em;
}