@model IEnumerable<ProductViewModel>
@{
	ViewBag.Title = "All Products";
}

<div class="card" style="width: 18rem">
	<div class="card-header">@ViewBag.Title</div>
	<ul class="list-group list-group-flush">
		@foreach (var product in Model)
		{
			<li class="list-group-item">
				<a asp-controller="Product" asp-action="ById" asp-route-id="@product.Id">
					N.@product.Id: @product.Name - @product.Price lv.
				</a>
			</li>
		}
	</ul>
</div>
