* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.4 Helvetica, sans-serif;
}

body {
    padding: 2em;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    margin: 4em auto;
    max-width: 70em;
}

.journal {
    display: flex;
    padding: 2em 1.5em;
    border-radius: 1em;
    background: #1881B6;
    border: 3px solid black;
    gap: 2em;
}

.journal .content {
    margin-top: 1em;
    flex: 1 1 55%;
    padding-left: 1em;
}
.content header {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
}

.description {
    margin-bottom: 2em;
}
.description h2 {
    color: #fff;
    margin: 0.5em 0;
    font-weight: normal;
    font-size: 2.4em;
}
.description p {
    text-indent: 2em;
    line-height: 1.8;
}

.btn {
    border: 1px solid black;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    color: black;
}

.btn-primary {
    background-color: #B6416D;
    color: #fff;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

.buttons a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

.media {
    flex: 1 1 35%;
    margin-left: 0.5em;
    padding-right: 1em;
}
