@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.4 Poppins, sans-serif;
}

body {
    padding: 2em;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.services {
    margin: 2em auto;
    max-width: 100em;
}

.content {
    display: flex;
    gap: 1.5em;
}

.card {
    background: #819daf;
    flex: 1 1 30%;
}

.card-content {
    padding: 1.5em 2em 1em 1em;
}

.button {
    background: #327dc4;
    color: #fff;
    padding: 0.4em 1em;
    border-radius: 2em;
    border: 1px solid #424dc6;
    outline: 1px solid #fff;
}

.services header {
    text-align: center;
    margin-bottom: 1em;
}

.services header h2 {
    font-size: 40px;
}

.services header p {
    font-size: 19px;
}

.services header span {
    color: #2976c2;
}

.card-content h3 {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 24px;
}

.card-content p {
    margin-bottom: 1.2em;
}

.card-content a {
    display: inline-block;
    text-decoration: none;
}

.card img,
.card {
    border-radius: 1.5em;
    overflow: hidden;
}