:root {
    --body-bg:rgb(238, 238, 238);
    --card-bg:rgb(255, 255, 255);
    --card-btn-bg:rgb(0, 153, 0);
}

* {
    margin: 0;
}

*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font: 1em/1.2 Georgia,serif;
    background: var(--body-bg);
}

.card {
    width: 23em;
    display: block;
    margin: 5em auto;
    border-radius: 0.3em;
    overflow: hidden;
    background: var(--card-bg);
    box-shadow: 0 0 5em 0.3em lightslategrey;
}

.btn-wrapper {
    text-align: right;
}

.btn > a {
    background: var(--card-btn-bg);
    padding: 0.5em 1.5em;
    color: white;
    border-radius: 0.2em;
    text-decoration: none;
}

.content h3 {
    margin: 0.8em 0;
}

.card .content {
    padding: 1em 2.3em 2em 2em;
}

.card .content p,.btn > a {
    font-family: 'Segoe UI', sans-serif;
}

.content p:first-of-type {
    padding-bottom: 2.5em;
}

.card > .img > img {
    display: block;
    width: 100%;
    height: auto;
}