article {
    margin: 2em 3em;
    width: 70%;
    max-width: 100%;
}

aside {
    display: block;
    position: absolute;
    top: 8%;
    right: 7%;
    transform: translateY(-8%);
    max-width: 20%;
}

.article-header {
    position: relative;
    padding: 1.5em 0;
    padding-right: 1em;
}