html {
    font: 1em/1.5 Helvetica, sans-serif;
}

body {
    font: inherit;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}

p, ul, ol {
    padding-bottom: 2em;
}

li {
    padding-left: 2em;
    list-style: square inside;
}

img {
    width: 35em;
    height: auto;
    padding-bottom: 1em;
}

.title {
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 0.5em;
}

.article-content h2 {
    padding-bottom: 1em;
}